<!--
  Generated template for the Poem page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar *ngIf="footerShow">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-family: 'NanumMyeongjo'; font-weight : bold">{{menuTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged('fromUI')" (tap)="tapEvent()">
    <ion-slide>
      <div class="body-string" [ngStyle]="{'font-size' : fontSizeString}" style="font-family: 'NanumMyeongjo'; line-height: 1.6" [ngClass]="{'left-position' : leftPosition}">
        {{previewBody}}
      </div>
    </ion-slide>
    <ion-slide>
      <div class="body-string" [ngStyle]="{'font-size' : fontSizeString}" style="font-family: 'NanumMyeongjo'; line-height: 1.6" [ngClass]="{'left-position' : leftPosition}">
        {{focusBody}}
      </div>
    </ion-slide>    
    <ion-slide>
      <div class="body-string" [ngStyle]="{'font-size' : fontSizeString}" style="font-family: 'NanumMyeongjo'; line-height: 1.6" [ngClass]="{'left-position' : leftPosition}">
        {{nextBody}}
      </div>
    </ion-slide>    
  </ion-slides>
  <ion-fab right bottom *ngIf="footerShow" style="opacity: 0.6; margin-bottom: 60px !important">
    <button ion-fab color="dark"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="changeFontSize('down')" color="dark"><ion-icon name="remove"></ion-icon></button>
      <button ion-fab (click)="changeFontSize('up')" color="dark"><ion-icon name="add"></ion-icon></button>
      <button ion-fab (click)="toggleFavorite()" color="dark"><ion-icon name="bookmark" [ngClass]="{'favorite': favorite}"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="footerShow" style="opacity: 0.7;background-color: black !important">
  <ion-grid>
    <ion-row>
      <ion-col width-80>
        <ion-range [(ngModel)]="currentPage" (ionChange)="pageChange($event)" pin="true" style="z-index: 0 !important; padding: 0px;height: 25px !important; margin-left: 5px !important" min="0" max="{{maxPage}}" step="1">
        </ion-range>

      </ion-col>
      <ion-col width-20>
        <ion-buttons end>
          <button icon-only style="background : transparent" (click)="showContents()">
        <ion-icon name="list-box" style="text-shadow: 1px 1px 1px #000"></ion-icon>
      </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>