page-poem {
  .body-string {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  .favorite {
    color: goldenrod;
  }
}
