page-poem {
  .body-string {
    white-space: pre-line;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
  }
  .favorite {
    color: goldenrod;
  }
  .left-position {
    text-align: left !important;
  }
}
