<!--
  Generated template for the Poem page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{menuTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content (tap)="tapEvent()">
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let item of items">
      <div text-center class="body-string" [ngStyle]="{'font-size' : fontSizeString}" style="font-family: 문체부 궁체 흘림체; font-weight : bold; line-height: 1.6">
        {{item.body}}
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="footerShow" style="opacity: 0.7">
  <ion-toolbar dark>
    <ion-buttons end>
    <button icon-only style="background : transparent" (click)="changeFontSize('up')">
      <ion-icon name="add"></ion-icon>
    </button>
    <button icon-only style="background : transparent" (click)="changeFontSize('down')">
      <ion-icon name="remove"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
    <button icon-only rignt (click)="toggleFavorite()" style="background : transparent">
      <ion-icon name="star" [ngClass]="{'favorite': favorite}"></ion-icon>
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
