// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}

ion-header {
  .toolbar-background {
    border-color: #b2b2b2;
    background: #386A6B;
  }
  .toolbar-title {
    padding: 0 12px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
  }
  .back-button-text {
    color: #fff;
  }
}

ion-footer {
  .toolbar-background {
    background: black;
    opacity: 0.5;
  }
}

ion-icon {
  display: inline-block;
  font-family: "Ionicons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;
  color: #fff;
}
.leftMenuContent {
  background-color:#386A6B;
  text-align: center;

  .author-img {
    border-radius: 50%;
    width: 80%;
    padding: 5%;
    padding-bottom: 0;
  }
  .author-profile {
    color: #fff;
    font-family: 'NanumMyeongjo';
    line-height: 1.6;
  } 
  .author-name {
    text-align: right;
    color: #fff;
    font-weight: bold;
    padding-right: 20px;

    .name {
      display: inline-block;
    }
    .sns-link {
      display:inline-block;
      width: 20px;
      vertical-align: middle;
    }
  }

  button.item {
    background-color:#386A6B;
    color: #fff;
  }
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("../assets/fonts/NanumMyeongjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


#poemContainer {
  .swiper-slide  {
    align-items: flex-start;
    overflow-y: scroll;
    padding-top: 70px;
  }
}