page-example-detail {
  .abcd {
    background: url(image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
  .body-string {
    white-space: pre-line;
    margin-left: auto;
    margin-right: auto;    
    display: block;
  }
}
